# Python Basics Cheatsheet

This cheat sheet covers Python syntax, variables, types, basic operations, operators, and conditional statements. Perfect for beginners or as a quick refresher for experienced programmers, it provides clear examples to help you quickly recall Python's fundamental concepts and streamline your coding tasks.

## Python Hello World Program

**"Hello, World!"** is a basic program that displays the message "Hello, World!" on the screen. It's commonly used to introduce beginners to a new programming language.

In [1]:
print("Hello World!")

Hello World!

Congratulations! You've just written your first program in Python.

Let's break down the print() function in Python:
1. **`print()`** is a built-in function in Python, available by default without needing to import anything. It tells Python to display whatever is inside the parentheses. Python recognizes **`print`** as a function because of the presence of parentheses that follow it.
2. The **print()** function's parentheses contain a sequence of characters — **'Hello, World!'** — enclosed in either single **'** or double **"** quotation marks. Any characters inside quotation marks are referred to as a string.

## Python Comments

Comments serve multiple purposes in Python code:

1. They explain the code's functionality.
2. They enhance code readability.
3. They can temporarily disable code execution during testing.

The Python interpreter disregards comments, focusing solely on executable code. Since comments don't execute, they don't appear in program output. They're solely for human comprehension within the source code.

#### Single-line Comments

These are comments that span only one line and are typically used for short annotations or explanations. They start with the **#** symbol and extend to the end of the line.

In [ ]:
# This is a single-line comment

#### Inline Comments

These comments are placed on the same line as the code they are commenting on. They provide brief explanations directly beside the relevant code.

It's generally recommended to separate an inline comment from the statement it annotates by at least two spaces. This format enhances readability by clearly distinguishing the comment from the associated code.

In [ ]:
x = 5  # Assigning the value 5 to the variable x

#### Multiple-line Comments:

Although Python doesn't have a built-in syntax specifically for multi-line comments, you can use multi-line strings (enclosed within triple quotesv either **'''** or **"""**) as a workaround. These comments can span multiple lines and are often used for longer explanations or commenting out blocks of code temporarily.

It's worth noting that these multi-line comments are technically just multi-line strings and aren't treated as comments by the interpreter. They are, however, a common convention for creating multi-line comments in Python.

In [ ]:
"""
This is a
multi-line
comment
"""

In [ ]:
'''
This is also a
multi-line
comment
'''

## Python Variables

A variable, also known as an identifier, is a named location in the computer's memory used to store data. Think of it as a container that holds a value, which can be changed throughout the program. Mnemonic variables, which are easily remembered and associated, are recommended in many programming languages. Essentially, a variable is a reference to a memory address where data is stored.

#### Variable Naming

Rules for naming variables in Python:

1. A variable name must begin with a letter (a-z or A-Z) or an underscore (_).
2. It cannot start with a number (0-9).
3. Variable names can only contain alphanumeric characters (a-z, A-Z, 0-9) and underscores (_).
4. Variable names are case-sensitive, meaning lowercase and uppercase letters are considered distinct (e.g. `employeename`, `EmployeeName`, `EMPLOYEENAME` are different variables).
5. It is recommended to use lowercase letters for variable names.
6. Use snake_case for variable names where variable names are written in lowercase, and words are separated by underscores (e.g. `employee_name`, `total_salary`, `user_id`)
7. Avoid using keywords or reserved words that have predefined meanings in Python. These keywords are part of Python's syntax and are used for specific purposes, so using them as variable names can lead to syntax errors or unexpected behavior in your code (`if`, `else`, `for`, `while`, `def`, `class`, `import`, `return`, etc)

##### Valid Variable Names:
- `my_variable`
- `_variable`
- `variable123`
- `variable_name`
- `myVariable`

##### Invalid Variable Names:
- `123variable` (starts with a number)
- `variable-name` (contains a hyphen)
- `my variable` (contains a space)
- `class` (reserved keyword)
- `for` (reserved keyword)

##### List all Python keywords / reserved words

In [4]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

Ensure that your variable names follow the naming rules to avoid syntax errors in your Python code.

#### Variable Assignment

Use the assignment operator **`=`** to assign a value to a variable.

##### Basic Assignment
Assigning a value to a variable.

`variable_name = value`

In this syntax:
- `variable_name` is the name of the variable you want to assign a value to.
- `value` is the data you want to store in the variable.

For example:

In [5]:
name = 'Gio'
age = 24
is_ds = True
salary = 100000.50

In [8]:
print(name)
print(age)
print(is_ds)
print(salary)

Gio
24
True
100000.5

In the above code snippet, `name`, `age`, `is_ds`, and `salary` are variables, and `'Gio'`, `24`, `True` and `100000.50` are their corresponding values.

##### Multiple Assignment
Assigning multiple values to multiple variables in a single line.

`var1`, `var2`, `var3` = `value1`, `value2`, `value3`

For example:

In [6]:
name, age, is_ds, salary = 'Gio', 24, True, 100000.50

In [9]:
print(name)
print(age)
print(is_ds)
print(salary)

Gio
24
True
100000.5

##### Chained Assignment
`var1` = `var2` = `varn` = `value`

For example:

In [22]:
name1 = name2 =  name3 = "Gio"
print(name1)
print(name2)
print(name3)

Gio
Gio
Gio

##### Swap Variables
Swapping values between variables.

`var1`, `var2` = `var2`, `var1`

For example:

In [15]:
a = 5
b = 10

print('Before swapping:')
print(a)
print(b)

a, b = b, a
print('\nAfter swapping:')
print(a)
print(b)

Before swapping:
5
10

After swapping:
10
5

##### Constants Variables
Conventionally named in uppercase to indicate that the value should not change, though Python doesn't enforce constantness.

`CONSTANT_NAME` = `value`

For example:

In [18]:
PI = 3.14159
GRAVITY = 9.81

> **NOTE:** In Python, constants are more of a convention rather than a strict rule, as you can technically modify a constant's value if you really want to. It's a good practice to treat these variables as constants and avoid changing their values throughout your program.

#### Variable Reassignment

You can change the value of a variable at any time by assigning it a new value.

In [24]:
x = 5
x = 10 
print(x)

10

#### Variable Types

In Python, we don't need to specify the type of a variable because Python is a type-inferencing language and is smart enough to determine the variable type.

## type() function

The `type()` function in Python is used to determine the data type of a variable or a value. It returns the type of the object passed to it as an argument.

`type(object)`

- `object`: The object whose type is to be determined.

In [30]:
name = 'Gio'
age = 24
is_ds = True
salary = 100000.50

print(type(name))
print(type(age))
print(type(is_ds))
print(type(salary))

<class 'str'>
<class 'int'>
<class 'bool'>
<class 'float'>

In this example:

- `type(name)` returns `<class 'str'>`, indicating that the variable name is of type string (`str`).
- `type(age)` returns `<class 'int'>`, indicating that the variable age is of type string (`int`).
- `type(is_ds)` returns `<class 'bool'>`, indicating that the variable is_ds is of type boolean (`bool`)
- `type(salary)` returns `<class 'float'>`, indicating that the variable salary is of type float (`float`)

## Python Data Types and Common Operations

#### Integer (`int`)
Represents whole numbers, positive or negative, without any decimal point.

Example:

In [65]:
x = 10
y = 3

print(type(x))
print(type(y))

<class 'int'>
<class 'int'>

#### Common Operations on Integer (`int`) Data Type

##### Arithmetic Operations
- Addition (`+`)
- Subtraction (`-`)
- Multiplication (`*`)
- Division (`/`)
- Exponentiation (`**`)
- Modulus (`%`): Returns the remainder of the division of one number by another.
- Floor Division (`//`): Returns the quotient of the division, rounded down to the nearest integer.

In [45]:
x = 10
y = 3

addition_result = x + y          # 10 + 3 = 13
subtraction_result = x - y       # 10 - 3 = 7
multiplication_result = x * y    # 10 * 3 = 30
division_result = x / y          # 10 / 3 = 3.3333333333333335
exponentiation_result = x ** y   # 10 ** 3 = 1000
modulus_result = x % y           # 10 % 3 = 1
floor_division_result = x // y   # 10 // 3 = 3

print('Addition Result: ', addition_result)
print('Subtraction Result: ', subtraction_result)
print('Multiplication Result: ',multiplication_result)
print('Division Result: ', division_result)
print('Exponentiation Result: ', exponentiation_result)
print('Modulus Result: ', modulus_result)
print('Floor Division Result: ', floor_division_result)

Addition Result:  13
Subtraction Result:  7
Multiplication Result:  30
Division Result:  3.3333333333333335
Exponentiation Result:  1000
Modulus Result:  1
Floor Division Result:  3

##### Comparison Operations
- Equal to (`==`)
- Not equal to (`!=`)
- Greater than (`>`)
- Less than (`<`)
- Greater than or equal to (`>=`)
- Less than or equal to (`<=`|)

In [62]:
x = 10
y = 5

is_equal = x == y              # False
is_not_equal = x != y          # True
is_greater_than = x > y        # True
is_less_than = x < y           # False
is_greater_than_equal = x >= y # True
is_less_than_equal = x <= y    # False

print('Is Equal: ', is_equal)
print('Is Not Equal: ', is_not_equal)
print('Is Greater Than: ', is_greater_than)
print('Is Less Than: ', is_less_than)
print('Is Greater Than or Equal: ', is_greater_than_equal)
print('Is Less Than or Equal: ', is_less_than_equal)

Is Equal:  False
Is Not Equal:  True
Is Greater Than:  True
Is Less Than:  False
Is Greater Than or Equal:  True
Is Less Than or Equal:  False

##### Type Conversions
- Convert to `float` using `float()`
- Convert to `str` using `str()`
- Convert to `bool` using `bool()`

In [63]:
x = 10

float_x = float(x)      # 10.0
str_x = str(x)          # '10'
bool_x = bool(x)        # True

print(float_x)
print(str_x)
print(bool_x)

10.0
10
True

#### String (`str`)
Represents a sequence of characters, enclosed within single `'` or double `"` quotes.

Example:

In [67]:
name = 'Gio'

print(type(name))

<class 'str'>

#### Common Operations on String (`str`) Data Type

##### Concatenation
Joining strings using the + operator.

In [68]:
str1 = "Hello"
str2 = "World"
concatenated_str = str1 + " " + str2  # "Hello World"

print(concatenated_str)

Hello World

##### Slicing
Extracting substrings using slice notation (`[start:end:step]`).

- `start`: The starting index of the substring (inclusive). If omitted, it defaults to 0.
- `end`: The ending index of the substring (exclusive). If omitted, it defaults to the end of the string.
- `step`: The step or increment between characters. If omitted, it defaults to 1.

In [70]:
# Basic Slicing:
# Extract a substring from index 2 to index 5 (not including index 5)

my_string = "Python"
substring = my_string[2:5]  # "tho"

print(substring)

tho

In [72]:
# Omitting Start or End:
# If start is omitted, it defaults to the beginning of the string.

my_string = "Python"
substring = my_string[:3]   # "Pyt"

print(substring)

Pyt

In [73]:
# If end is omitted, it defaults to the end of the string.
my_string = "Python"
substring = my_string[3:]   # "hon"

print(substring)

hon

In [74]:
# Step (Stride) Size:
# Specify a step size to extract characters at regular intervals.
my_string = "Python"
substring = my_string[::2]  # "Pto"

print(substring)

Pto

In [76]:
# Reverse the string using a negative step size.
my_string = "Python"
reversed_string = my_string[::-1]  # "nohtyP"

print(reversed_string)

nohtyP

##### Length
Determining the length of a string using the `len()` function.

In [77]:
my_string = "Hello"
string_length = len(my_string)  # 5

print(string_length)

5

##### Case Conversion
Converting case using `upper()`, `lower()`, `capitalize()`, `title()`.

In [79]:
my_string = "hello"
upper_case = my_string.upper()        # "HELLO"
lower_case = my_string.lower()        # "hello"
capitalized = my_string.capitalize()  # "Hello"
title_case = my_string.title()        # "Hello"

print(upper_case)
print(lower_case)
print(capitalized)
print(title_case)

HELLO
hello
Hello
Hello

##### Searching:
Searching for substrings using `find()`, `index()`, `count()`.

In [82]:
my_string = "hello world"
index_of_o = my_string.find("o")    # 4
index_of_w = my_string.index("w")   # 6
count_of_l = my_string.count("l")   # 3

print(index_of_o)
print(index_of_w)
print(count_of_l)

4
6
3

##### Splitting and Joining:
Splitting a string into a list of substrings using `split()` and joining a list of strings into a single string using `join()`.

In [83]:
my_string = "apple,banana,orange"
split_list = my_string.split(",")    # ["apple", "banana", "orange"]
joined_string = "-".join(split_list) # "apple-banana-orange"

print(split_list)
print(joined_string)

['apple', 'banana', 'orange']
apple-banana-orange

#### Float (`float`)
Represents floating-point numbers, which contain decimal points or use scientific notation.

Example:

In [84]:
y = 3.14

print(type(y))

<class 'float'>

#### Common Operations on Float (`float`) Data Type

##### Arithmetic Operations
- Addition (`+`)
- Subtraction (`-`)
- Multiplication (`*`)
- Division (`/`)
- Exponentiation (`**`)
- Modulus (`%`): Returns the remainder of the division of one number by another.
- Floor Division (`//`): Returns the quotient of the division, rounded down to the nearest integer.

In [89]:
x = 3.5
y = 2.0

addition_result = x + y          # 3.5 + 2.0 = 5.5
subtraction_result = x - y       # 3.5 - 2.0 = 1.5
multiplication_result = x * y    # 3.5 * 2.0 = 7.0
division_result = x / y          # 3.5 / 2.0 = 1.75
exponentiation_result = x ** y   # 3.5 ** 2.0 = 12.25
modulus_result = x % y           # 3.5 % 2.0 = 1.5
floor_division_result = x // y   # 3.5 // 2.0 =  1.0

print('Addition Result: ', addition_result)
print('Subtraction Result: ', subtraction_result)
print('Multiplication Result: ',multiplication_result)
print('Division Result: ', division_result)
print('Exponentiation Result: ', exponentiation_result)
print('Modulus Result: ', modulus_result)
print('Floor Division Result: ', floor_division_result)

Addition Result:  5.5
Subtraction Result:  1.5
Multiplication Result:  7.0
Division Result:  1.75
Exponentiation Result:  12.25
Modulus Result:  1.5
Floor Division Result:  1.0

##### Comparison Operations
- Equal to (`==`)
- Not equal to (`!=`)
- Greater than (`>`)
- Less than (`<`)
- Greater than or equal to (`>=`)
- Less than or equal to (`<=`|)

In [92]:
x = 3.5
y = 2.0

is_equal = x == y        # False
is_not_equal = x != y    # True
is_greater_than = x > y  # True
is_less_than = x < y     # False
is_greater_than_equal = x >= y # True
is_less_than_equal = x <= y    # False

print('Is Equal: ', is_equal)
print('Is Not Equal: ', is_not_equal)
print('Is Greater Than: ', is_greater_than)
print('Is Less Than: ', is_less_than)
print('Is Greater Than or Equal: ', is_greater_than_equal)
print('Is Less Than or Equal: ', is_less_than_equal)

Is Equal:  False
Is Not Equal:  True
Is Greater Than:  True
Is Less Than:  False
Is Greater Than or Equal:  True
Is Less Than or Equal:  False

##### Type Conversion
- Convert to int using `int()`
- Convert to str using `str()`

In [93]:
x = 3.5

int_x = int(x)    # 3
str_x = str(x)    # "3.5"

print(int_x)
print(str_x)

3
3.5

##### Rounding
Round a float to a specified number of decimal places using `round()`

In [95]:
x = 3.5678

rounded_x = round(x, 2)    # 3.57

print(rounded_x)

3.57

#### Boolean (`bool`)
Represents one of two values: `True` or `False`

Example:

In [98]:
is_ds = True

print(type(is_ds))

<class 'bool'>

#### Common Operations on Boolean (`bool`) Data Type

##### Logical Operations

- `and`: Returns `True` if both operands are `True`, otherwise `False`.
- `or`: Returns `True` if at least one of the operands is `True`, otherwise `False`.
- `not`: Returns the opposite boolean value of the operand.

In [100]:
x = True
y = False

result_and = x and y   # False
result_or = x or y     # True
result_not = not x     # False

print(result_and)
print(result_or)
print(result_not)

False
True
False

##### Type Conversion
- Convert to int using `int()`
- Convert to str using `str()`

In [103]:
x = True
y = False

int_x = int(x)    # 1
int_y = int(y)    # 0
str_x = str(x)    # "True"
str_y = str(y)    # "False"

print(int_x)
print(int_y)
print(str_x)
print(str_y)

1
0
True
False

#### List (`list`)
Represents an ordered collection of items, which can be of different data types and mutable (modifiable).

Example:

In [104]:
numbers = [1, 2, 3, 4, 5]

print(type(numbers))

<class 'list'>

#### Common Operations on Lists (`list`) Data Type

##### Accessing Elements
- Access individual elements using indexing, starting from 0.
- Access a range of elements using slicing.

In [8]:
my_list = [1, 2, 3, "apple", "banana", True]

# Accessing individual elements
first_element = my_list[0]
third_element = my_list[2]

print(first_element)
print(third_element)

1
3

In [9]:
# Accessing a range of elements
sublist = my_list[1:4]  # Returns elements from index 1 to 3

print(sublist)

[2, 3, 'apple']

##### Adding Elements
- `append()`: Add an element to the end of the list.
- `insert()`: Add an element at a specific position in the list.

In [10]:
my_list.append(4)       # Appends 4 to the end of the list
print(my_list)

my_list.insert(2, "orange")  # Inserts "orange" at index 2
print(my_list)

[1, 2, 3, 'apple', 'banana', True, 4]
[1, 2, 'orange', 3, 'apple', 'banana', True, 4]

##### Removing Elements
- `remove()`: Remove the first occurrence of a specific value.
- `pop()`: Remove an element at a specific index.
- `clear()`: Remove all elements from the list.

In [11]:
my_list.remove("apple")  # Removes the first occurrence of "apple"
print(my_list)

popped_element = my_list.pop(3)  # Removes and returns element at index 3
print(popped_element)

my_list.clear()           # Removes all elements from the list
print(my_list)

[1, 2, 'orange', 3, 'banana', True, 4]
3
[]

##### Updating Elements
- Assign new values to specific elements using indexing.

In [14]:
my_list = [1, 2, 3, "apple", "banana", True]

my_list[1] = "grape"  # Updates element at index 1 to "grape"
print(my_list)

[1, 'grape', 3, 'apple', 'banana', True]

##### Length of a List
- Determine the number of elements in a list using the `len()` function.

In [15]:
list_length = len(my_list)  # Returns the number of elements in the list

print(list_length)

6

##### Concatenating List
- Combine two lists into one using the `+` operator.

In [18]:
my_list = [1, 2, 3, "apple", "banana", True]
numbers = [1, 2, 3, 4, 5]

combined_list = my_list + numbers
print(combined_list)

[1, 2, 3, 'apple', 'banana', True, 1, 2, 3, 4, 5]

##### Sorting a List
- Sort the elements of a list in ascending or descending order using the `sort()` method.

In [21]:
numbers.sort()              # Sorts the list in ascending order
print(numbers)

numbers.sort(reverse=True)  # Sorts the list in descending order
print(numbers)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

##### Identity and Membership Operators
- `is`: Returns True if both operands are the same object.
- `is not`: Returns True if both operands are not the same object.
- `in`: Returns True if a value exists in a sequence.
- `not in`: Returns True if a value does not exist in a sequence.

In [25]:
x = [1, 2, 3]
y = [1, 2, 3]

result_is = x is y           # False
result_is_not = x is not y   # True

print(result_is)
print(result_is_not)

result_in = 2 in x           # True
result_not_in = 4 not in x   # True

print(result_in)
print(result_not_in)

False
True
True
True

#### Dictionary (`dict`)
Represents a collection of key-value pairs, where each key is associated with a value.

Example:

In [28]:
info_dict = {'name': 'Gio', 'age': 30, 'job': 'Data Scientist'}

print(type(info_dict))

<class 'dict'>

#### Common Operations on Dictionary (`dict`) Data Type

##### Creating a Dictionary
You can create a dictionary by placing a comma-separated list of key-value pairs within curly braces `{}`.

In [40]:
info_dict = {'name': 'Gio', 'age': 30, 'job': 'Data Scientist'}

print(info_dict)

{'name': 'Gio', 'age': 30, 'job': 'Data Scientist'}

##### Accessing Elements
You can access the value associated with a specific key using square brackets `[]`.

In [41]:
name = info_dict['name']  # Returns 'Gio'

print(name)

Gio

##### Adding or Modifying Elements
Add or update an element by assigning a value to a key.

In [42]:
info_dict['age'] = 24  # Updates 'age' to 24
info_dict['city'] = 'New York'  # Adds a new key 'city' with its value

print(info_dict)

{'name': 'Gio', 'age': 24, 'job': 'Data Scientist', 'city': 'New York'}

##### Removing Elements
You can remove a key-value pair with the `del` statement or the `pop()` method.

In [43]:
del info_dict['job']  # Removes the key 'job' along with its value
print(info_dict)

age = info_dict.pop('age')  # Removes 'age' and returns its value
print(info_dict)

{'name': 'Gio', 'age': 24, 'city': 'New York'}
{'name': 'Gio', 'city': 'New York'}

##### Checking if a Key Exists
Use the `in` keyword to check if a key exists in the dictionary.

In [44]:
'city' in my_dict  # Returns True if 'city' is a key in my_dict, else False

True

##### Getting All Keys and Values
You can retrieve all keys or all values as a list with `keys()` and `values()` methods.

In [46]:
keys = info_dict.keys()  # Returns all keys in my_dict
values = info_dict.values()  # Returns all values in my_dict

print(keys)
print(values)

dict_keys(['name', 'city'])
dict_values(['Gio', 'New York'])

##### Get Method
The `get()` method provides a way to fetch a value from a dictionary. It returns None if the key does not exist, unless a default value is specified.

In [50]:
address = info_dict.get('address', 'No address provided')  # Returns 'No address provided' if 'address' key is not found
print(address)

No address provided

##### Iterating Through a Dictionary
You can iterate through a dictionary using loops. The `items()` method is useful to get key-value pairs.

In [52]:
for key, value in info_dict.items():
    print(key, value)

name Gio
city New York

##### Copying a Dictionary
Use the `copy()` method to make a shallow copy of a dictionary.

In [54]:
# Original dictionary
info_dict = {'name': 'Gio', 'age': 24}

# Creates a shallow copy of info_dict
new_dict = info_dict.copy()

# Display the newly copied dictionary before modification
print("New Dictionary before modification:", new_dict)

# Adding a new key-value pair to the shallow copy
new_dict['location'] = 'New York'

# Display the new dictionary after adding a new key-value pair
print("New Dictionary after adding a new value:", new_dict)

# Display the original dictionary to see if it's unaffected
print("Original Dictionary:", info_dict)

New Dictionary before modification: {'name': 'Gio', 'age': 24}
New Dictionary after adding a new value: {'name': 'Gio', 'age': 24, 'location': 'New York'}
Original Dictionary: {'name': 'Gio', 'age': 24}

- `info_dict` is the original dictionary with two key-value pairs.
- `new_dict` is a shallow copy of info_dict, created using the copy() method.
- When you add a new key-value pair `('location': 'New York')` to `new_dict`, it does not appear in `info_dict` because adding new keys does not impact the original dictionary in a shallow copy scenario.
- Shallow copying only links to the same objects for existing contents; new additions or completely separate allocations do not reflect back to the original dictionary.